<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Успешное оформление заказа</title>
    <link rel="stylesheet" type="text/css" href="/css/navbar.css"/>
    <link rel="stylesheet" type="text/css" href="/css/list.css"/>
</head>
<body>
<div th:include="fragments/header :: nav"></div>
<div class="container">
    <h1>Заказ успешно оформлен!</h1>
    <p>Ваш заказ был успешно обработан и будет доставлен в ближайшее время.</p>
    <a href="/knives" class="btn">Вернуться к списку ножей</a>
</div>
</body>
</html>