<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Список заказов</title>
    <link rel="stylesheet" type="text/css" href="/css/navbar.css"/>
    <link rel="stylesheet" type="text/css" href="/css/list.css"/>
</head>
<body>
<div th:replace="fragments/header :: nav"></div>
<div class="container">
    <h1>Список заказов</h1>
    <div th:if="${orders.isEmpty()}" class="no-items">
        <p>Нет доступных заказов.</p>
    </div>
    <div th:unless="${orders.isEmpty()}">
        <table class="styled-table">
            <thead>
            <tr>
                <th>Order ID</th>
                <th>Имя</th>
                <th>Email</th>
                <th>Телефон</th>
                <th>Адрес</th>
                <th>Knives Ordered</th>
                <th>Итоговая Сумма</th>
                <th>Статус</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.id}"></td>
                <td th:text="${order.fullName}"></td>
                <td th:text="${order.email}"></td>
                <td th:text="${order.phone}"></td>
                <td th:text="${order.address}"></td>
                <td>
                    <ul>
                        <li th:each="item : ${order.items.values()}">
                            <span th:text="${item.knife.name}"></span>
                            - Количество: <span th:text="${item.quantity}"></span>
                            - Цена: <span th:text="${item.knife.price}"></span>
                        </li>
                    </ul>
                </td>
                <td th:text="${order.totalPrice}">0.0</td>
                <td th:text="${order.status}">Ожидание</td>
                <td class="action-column">
                    <!-- Кнопка Одобрить отображается, если статус "Ожидание" -->
                    <form th:if="${order.status == 'Ожидание'}"
                          th:action="@{/orders/approve/{orderId}(orderId=${order.id})}" method="post">
                        <button type="submit" class="btn-action" sec:authorize="hasRole('ADMIN')">Одобрить</button>
                    </form>
                    <form th:action="@{/orders/delete/{orderId}(orderId=${order.id})}" method="post">
                        <button type="submit" class="btn-action" sec:authorize="hasRole('ADMIN')">Удалить</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="additional-actions">
        <a href="/knives" class="btn">Назад к списку ножей</a>
    </div>
</div>
</body>
</html>