<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список Ножей</title>
    <link rel="stylesheet" type="text/css" href="/css/list.css"/>
</head>
<body>
<div class="container">
    <h1>Список Ножей</h1>
    <a href="/manufacturers" class="btn">Производители</a>
    <a href="/categories" class="btn">Категории</a>
    <!-- Link to Orders Page -->
    <a href="/orders" class="btn">Перейти к Заказам</a>

    <div class="table-wrapper">
        <table>
            <thead>
            <tr>
                <th>Название</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Производитель</th>
                <th>Категория</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="knife : ${knives}">
                <td th:text="${knife.name}"></td>
                <td th:text="${knife.price}"></td>
                <td th:text="${knife.quantity}"></td>
                <td><a th:href="@{/manufacturers/edit/{id}(id=${knife.manufacturer.id})}" th:text="${knife.manufacturer.name}"></a></td>
                <td><a th:href="@{/categories/edit/{id}(id=${knife.category.id})}" th:text="${knife.category.name}"></a></td>
                <td class="action-column">
                    <form th:action="@{/cart/add/{knifeId}(knifeId=${knife.id})}" method="post">
                        <input type="range" name="quantity" min="1" th:max="${knife.quantity}" value="1" oninput="this.nextElementSibling.value = this.value" required/>
                        <output>1</output> <!-- Отображает текущее значение ползунка -->
                        <button type="submit">Добавить в корзину</button>
                    </form>
                    <a th:href="@{/knives/edit/{id}(id=${knife.id})}" class="btn-action">Редактировать</a>
                    <a th:href="@{/knives/delete/{id}(id=${knife.id})}" onclick="return confirm('Вы уверены, что хотите удалить?')" class="btn-action">Удалить</a>
                    <a th:href="@{/knives/details/{id}(id=${knife.id})}" class="btn-action">Детали</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <a href="/cart" class="btn">Перейти в корзину</a>
    <a href="/knives/create" class="btn">Добавить Нож</a>
</div>
</body>
</html>